NodeRED_Dropdown.json
[
    {
        "id": "6f6b24d807406d71",
        "type": "tab",
        "label": "LED Control 8-bit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77c86d1c59098270",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 1",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led1_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led1_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "42e90e94c86e0a37",
        "type": "mqtt out",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/LedControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "36f133f197891493",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "e862c2cb1cce5859",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 2",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led2_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led2_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "53c8a4f93d8955cb",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 3",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led3_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led3_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "7c2f3fe006615d1c",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 4",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led4_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led4_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "2f737e058c2d892e",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 5",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led5_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led5_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "f59bd701d95b61ba",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 6",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led6_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led6_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "78c0e0e3fa15bb24",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 7",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led7_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led7_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "23dcacc43fd02f52",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 8",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led8_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led8_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 620,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "7b57ebc87af8863e",
        "type": "ui_button",
        "z": "6f6b24d807406d71",
        "name": "",
        "group": "a1155c0f447b5739",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "all_off",
        "payloadType": "str",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "45141622817ab566",
                "1428346f9e75518a"
            ]
        ]
    },
    {
        "id": "45141622817ab566",
        "type": "function",
        "z": "6f6b24d807406d71",
        "name": "All OFF",
        "func": "let messages = [];\n\nfor(let i=0;i<=8;i++)\n{   messages.push({topic: \"aim/LedControl\", payload:\"led\" + i + \"_0\"});\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "1cc8ce70017a803c",
        "type": "mqtt in",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/LedControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7ff75b70f72fceeb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "77c86d1c59098270",
                "e862c2cb1cce5859",
                "53c8a4f93d8955cb",
                "7c2f3fe006615d1c",
                "2f737e058c2d892e",
                "f59bd701d95b61ba",
                "78c0e0e3fa15bb24",
                "23dcacc43fd02f52",
                "7623670966a12510"
            ]
        ]
    },
    {
        "id": "080ab58e35873750",
        "type": "ui_button",
        "z": "6f6b24d807406d71",
        "name": "",
        "group": "a1155c0f447b5739",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "all_on",
        "payloadType": "str",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "662ae3f62be37ab7",
                "d01bc1d357c644b0"
            ]
        ]
    },
    {
        "id": "662ae3f62be37ab7",
        "type": "function",
        "z": "6f6b24d807406d71",
        "name": "All ON",
        "func": "let messages = [];\n\nfor(let i=0;i<=8;i++)\n{   messages.push({topic: \"aim/LedControl\", payload:\"led\" + i + \"_1\"});\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 40,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "e9b5ac0b34a8506a",
        "type": "mqtt in",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/Button1Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7ff75b70f72fceeb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "291bbaadc501741d"
            ]
        ]
    },
    {
        "id": "291bbaadc501741d",
        "type": "ui_text",
        "z": "6f6b24d807406d71",
        "group": "56d7a623dbcc98b4",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PB1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "53ea4907e48a5fee",
        "type": "mqtt in",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/Button2Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7ff75b70f72fceeb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "584e9c614c8a3e6c"
            ]
        ]
    },
    {
        "id": "584e9c614c8a3e6c",
        "type": "ui_text",
        "z": "6f6b24d807406d71",
        "group": "56d7a623dbcc98b4",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PB2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 380,
        "wires": []
    },
    {
        "id": "18ba365c2605c1b3",
        "type": "ui_slider",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED Slider",
        "tooltip": "",
        "group": "775fe98dd2b0316a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "aim/SliderControl",
        "topicType": "msg",
        "min": 0,
        "max": "8",
        "step": 1,
        "className": "",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "b329291f3fd18145",
                "6a70b97f41a3fe0c"
            ]
        ]
    },
    {
        "id": "6a70b97f41a3fe0c",
        "type": "ui_text",
        "z": "6f6b24d807406d71",
        "group": "775fe98dd2b0316a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Slider status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "b329291f3fd18145",
        "type": "mqtt out",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/SliderControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7ff75b70f72fceeb",
        "x": 970,
        "y": 480,
        "wires": []
    },
    {
        "id": "1428346f9e75518a",
        "type": "function",
        "z": "6f6b24d807406d71",
        "name": "Reset Slider",
        "func": "let messages = [];\nmessages.push({ topic: \"aim/SliderControl\", payload: \"0\" });\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 160,
        "wires": [
            [
                "57e24429597ad881",
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "d01bc1d357c644b0",
        "type": "function",
        "z": "6f6b24d807406d71",
        "name": "Set Slider",
        "func": "let messages = [];\nmessages.push({ topic: \"aim/SliderControl\", payload: \"8\" });\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "57e24429597ad881",
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "57e24429597ad881",
        "type": "link out",
        "z": "6f6b24d807406d71",
        "name": "Set / Reset Slider",
        "mode": "link",
        "links": [
            "cd9353e63429b644"
        ],
        "x": 775,
        "y": 80,
        "wires": []
    },
    {
        "id": "cd9353e63429b644",
        "type": "link in",
        "z": "6f6b24d807406d71",
        "name": "link in 1",
        "links": [
            "57e24429597ad881",
            "b4fb642cc26e5472"
        ],
        "x": 805,
        "y": 540,
        "wires": [
            [
                "6a70b97f41a3fe0c"
            ]
        ]
    },
    {
        "id": "7623670966a12510",
        "type": "link out",
        "z": "6f6b24d807406d71",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "4b4bd928c1b67f8e"
        ],
        "x": 215,
        "y": 320,
        "wires": []
    },
    {
        "id": "4b4bd928c1b67f8e",
        "type": "link in",
        "z": "6f6b24d807406d71",
        "name": "link in 2",
        "links": [
            "7623670966a12510"
        ],
        "x": 615,
        "y": 480,
        "wires": [
            [
                "18ba365c2605c1b3"
            ]
        ]
    },
    {
        "id": "a4fb87450a4812d7",
        "type": "ui_dropdown",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED Selection",
        "tooltip": "Choose which LED to turn ON for 2 seconds",
        "place": "Select option",
        "group": "775fe98dd2b0316a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "LED1",
                "value": "LED1",
                "type": "str"
            },
            {
                "label": "LED2",
                "value": "LED2",
                "type": "str"
            },
            {
                "label": "LED3",
                "value": "LED3",
                "type": "str"
            },
            {
                "label": "LED4",
                "value": "LED4",
                "type": "str"
            },
            {
                "label": "LED5",
                "value": "LED5",
                "type": "str"
            },
            {
                "label": "LED6",
                "value": "LED6",
                "type": "str"
            },
            {
                "label": "LED7",
                "value": "LED7",
                "type": "str"
            },
            {
                "label": "LED8",
                "value": "LED8",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "aim/MenuControl",
        "topicType": "msg",
        "className": "",
        "x": 660,
        "y": 640,
        "wires": [
            [
                "d6de05360a8c0f4d",
                "a52a798568943828"
            ]
        ]
    },
    {
        "id": "d6de05360a8c0f4d",
        "type": "mqtt out",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/MenuControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7ff75b70f72fceeb",
        "x": 930,
        "y": 640,
        "wires": []
    },
    {
        "id": "a52a798568943828",
        "type": "delay",
        "z": "6f6b24d807406d71",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 720,
        "wires": [
            [
                "18cc6b9608d62a52"
            ]
        ]
    },
    {
        "id": "18cc6b9608d62a52",
        "type": "function",
        "z": "6f6b24d807406d71",
        "name": "Resetting Menu",
        "func": "msg.payload = { value: 0 };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 720,
        "wires": [
            [
                "ad68a7dd70652cfd"
            ]
        ]
    },
    {
        "id": "ad68a7dd70652cfd",
        "type": "link out",
        "z": "6f6b24d807406d71",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "3759f95e3f787982"
        ],
        "x": 1175,
        "y": 720,
        "wires": []
    },
    {
        "id": "3759f95e3f787982",
        "type": "link in",
        "z": "6f6b24d807406d71",
        "name": "link in 3",
        "links": [
            "ad68a7dd70652cfd"
        ],
        "x": 545,
        "y": 640,
        "wires": [
            [
                "a4fb87450a4812d7"
            ]
        ]
    },
    {
        "id": "2b3cfe27b22a5626",
        "type": "ui_spacer",
        "z": "6f6b24d807406d71",
        "name": "spacer",
        "group": "775fe98dd2b0316a",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a1155c0f447b5739",
        "type": "ui_group",
        "name": "LED Control 8-bit",
        "tab": "9dae409018d8907b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "36f133f197891493",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7ff75b70f72fceeb",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "56d7a623dbcc98b4",
        "type": "ui_group",
        "name": "PB Status",
        "tab": "9dae409018d8907b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "775fe98dd2b0316a",
        "type": "ui_group",
        "name": "LED Control Option",
        "tab": "9dae409018d8907b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9dae409018d8907b",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
