NodeRED_8SwitchLED_8Bit_simplified_ALL_OFF-ON.json
[
    {
        "id": "4e3d1b6f6afd87a1",
        "type": "tab",
        "label": "LED Control 8-bit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f2f6bee855cba22",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 1",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led1_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led1_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "aff04777c6cf4968",
        "type": "mqtt out",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "topic": "/LedControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "acd8922375aaedc6",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "7b6dae1ce4526007",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 2",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led2_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led2_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 440,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "01573bce5c1f8927",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 3",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led3_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led3_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "11e8814b5736c623",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 4",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led4_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led4_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "774f232566bdf8eb",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 5",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led5_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led5_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "f20333d8cec62528",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 6",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led6_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led6_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 680,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "4efee83e3e6b62d8",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 7",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led7_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led7_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 740,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "3dac7b231ed0ab9e",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 8",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led8_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led8_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 800,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "b1ead007714a8076",
        "type": "ui_button",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "group": "7a8ea489af191eb8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "all_off",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "e8c6238dc13309c3"
            ]
        ]
    },
    {
        "id": "e8c6238dc13309c3",
        "type": "function",
        "z": "4e3d1b6f6afd87a1",
        "name": "All OFF",
        "func": "let messages = [];\n\nfor (let i = 1; i <= 8; i++) {\n    messages.push({ topic: \"/LedControl\", payload: \"led\" + i + \"_0\" });\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 340,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "86700fd05f344882",
        "type": "mqtt in",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "topic": "/LedControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "acd8922375aaedc6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 480,
        "wires": [
            [
                "7f2f6bee855cba22",
                "7b6dae1ce4526007",
                "01573bce5c1f8927",
                "11e8814b5736c623",
                "774f232566bdf8eb",
                "f20333d8cec62528",
                "4efee83e3e6b62d8",
                "3dac7b231ed0ab9e"
            ]
        ]
    },
    {
        "id": "3fd660a58cc236e8",
        "type": "ui_button",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "group": "7a8ea489af191eb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "all_on",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "1fdc4b82f8edae1c"
            ]
        ]
    },
    {
        "id": "1fdc4b82f8edae1c",
        "type": "function",
        "z": "4e3d1b6f6afd87a1",
        "name": "All ON",
        "func": "let messages = [];\n\nfor (let i = 1; i <= 8; i++) {\n    messages.push({ topic: \"/LedControl\", payload: \"led\" + i + \"_1\" });\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 300,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "7a8ea489af191eb8",
        "type": "ui_group",
        "name": "LED Control 8-bit",
        "tab": "851f28bf5102a4c1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "acd8922375aaedc6",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "851f28bf5102a4c1",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
