NodeRED_Slider.json
[
    {
        "id": "6f6b24d807406d71",
        "type": "tab",
        "label": "LED Control 8-bit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77c86d1c59098270",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 1",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led1_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led1_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "42e90e94c86e0a37",
        "type": "mqtt out",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/LedControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "36f133f197891493",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "e862c2cb1cce5859",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 2",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led2_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led2_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "53c8a4f93d8955cb",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 3",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led3_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led3_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "7c2f3fe006615d1c",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 4",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led4_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led4_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "2f737e058c2d892e",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 5",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led5_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led5_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "f59bd701d95b61ba",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 6",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led6_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led6_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "78c0e0e3fa15bb24",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 7",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led7_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led7_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "23dcacc43fd02f52",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 8",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led8_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led8_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "7b57ebc87af8863e",
        "type": "ui_button",
        "z": "6f6b24d807406d71",
        "name": "",
        "group": "a1155c0f447b5739",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "all_off",
        "payloadType": "str",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "45141622817ab566"
            ]
        ]
    },
    {
        "id": "45141622817ab566",
        "type": "function",
        "z": "6f6b24d807406d71",
        "name": "All OFF",
        "func": "let messages = [];\n\nfor(let i=0;i<=8;i++)\n{   messages.push({topic: \"aim/LedControl\", payload:\"led\" + i + \"_0\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "1cc8ce70017a803c",
        "type": "mqtt in",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/LedControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7ff75b70f72fceeb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "77c86d1c59098270",
                "e862c2cb1cce5859",
                "53c8a4f93d8955cb",
                "7c2f3fe006615d1c",
                "2f737e058c2d892e",
                "f59bd701d95b61ba",
                "78c0e0e3fa15bb24",
                "23dcacc43fd02f52"
            ]
        ]
    },
    {
        "id": "080ab58e35873750",
        "type": "ui_button",
        "z": "6f6b24d807406d71",
        "name": "",
        "group": "a1155c0f447b5739",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "all_on",
        "payloadType": "str",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "x": 410,
        "y": 80,
        "wires": [
            [
                "662ae3f62be37ab7"
            ]
        ]
    },
    {
        "id": "662ae3f62be37ab7",
        "type": "function",
        "z": "6f6b24d807406d71",
        "name": "All ON",
        "func": "let messages = [];\n\nfor(let i=0;i<=8;i++)\n{   messages.push({topic: \"aim/LedControl\", payload:\"led\" + i + \"_1\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 80,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "e9b5ac0b34a8506a",
        "type": "mqtt in",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/Button1Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7ff75b70f72fceeb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "291bbaadc501741d"
            ]
        ]
    },
    {
        "id": "291bbaadc501741d",
        "type": "ui_text",
        "z": "6f6b24d807406d71",
        "group": "56d7a623dbcc98b4",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PB1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "53ea4907e48a5fee",
        "type": "mqtt in",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/Button2Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7ff75b70f72fceeb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "584e9c614c8a3e6c"
            ]
        ]
    },
    {
        "id": "584e9c614c8a3e6c",
        "type": "ui_text",
        "z": "6f6b24d807406d71",
        "group": "56d7a623dbcc98b4",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PB2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 340,
        "wires": []
    },
    {
        "id": "18ba365c2605c1b3",
        "type": "ui_slider",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED Slider",
        "tooltip": "",
        "group": "775fe98dd2b0316a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "aim/SliderControl",
        "topicType": "msg",
        "min": 0,
        "max": "8",
        "step": 1,
        "className": "",
        "x": 730,
        "y": 440,
        "wires": [
            [
                "b329291f3fd18145",
                "6a70b97f41a3fe0c"
            ]
        ]
    },
    {
        "id": "6a70b97f41a3fe0c",
        "type": "ui_text",
        "z": "6f6b24d807406d71",
        "group": "775fe98dd2b0316a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Slider status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "b329291f3fd18145",
        "type": "mqtt out",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/SliderControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7ff75b70f72fceeb",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "a1155c0f447b5739",
        "type": "ui_group",
        "name": "LED Control 8-bit",
        "tab": "9dae409018d8907b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "36f133f197891493",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7ff75b70f72fceeb",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "56d7a623dbcc98b4",
        "type": "ui_group",
        "name": "PB Status",
        "tab": "9dae409018d8907b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "775fe98dd2b0316a",
        "type": "ui_group",
        "name": "LED Slider",
        "tab": "9dae409018d8907b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9dae409018d8907b",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
