NodeRED_8SwitchLED_8Bit_simplified_ALL_OFF.json
[
    {
        "id": "6f6b24d807406d71",
        "type": "tab",
        "label": "LED Control 8-bit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77c86d1c59098270",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 1",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led1_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led1_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "42e90e94c86e0a37",
        "type": "mqtt out",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/LedControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "36f133f197891493",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "e862c2cb1cce5859",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 2",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led2_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led2_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "53c8a4f93d8955cb",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 3",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led3_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led3_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "7c2f3fe006615d1c",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 4",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led4_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led4_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "2f737e058c2d892e",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 5",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led5_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led5_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "f59bd701d95b61ba",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 6",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led6_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led6_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "78c0e0e3fa15bb24",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 7",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led7_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led7_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "23dcacc43fd02f52",
        "type": "ui_switch",
        "z": "6f6b24d807406d71",
        "name": "",
        "label": "LED 8",
        "tooltip": "",
        "group": "a1155c0f447b5739",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led8_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led8_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "7b57ebc87af8863e",
        "type": "ui_button",
        "z": "6f6b24d807406d71",
        "name": "",
        "group": "a1155c0f447b5739",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "all_off",
        "payloadType": "str",
        "topic": "aim/LedControl",
        "topicType": "msg",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "45141622817ab566"
            ]
        ]
    },
    {
        "id": "45141622817ab566",
        "type": "function",
        "z": "6f6b24d807406d71",
        "name": "All OFF",
        "func": "let messages = [];\n\nfor(let i=0;i<=8;i++)\n{   messages.push({topic: \"aim/LedControl\", payload:\"led\" + i + \"_0\"});\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 60,
        "wires": [
            [
                "42e90e94c86e0a37"
            ]
        ]
    },
    {
        "id": "1cc8ce70017a803c",
        "type": "mqtt in",
        "z": "6f6b24d807406d71",
        "name": "",
        "topic": "aim/LedControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7ff75b70f72fceeb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "77c86d1c59098270",
                "e862c2cb1cce5859",
                "53c8a4f93d8955cb",
                "7c2f3fe006615d1c",
                "2f737e058c2d892e",
                "f59bd701d95b61ba",
                "78c0e0e3fa15bb24",
                "23dcacc43fd02f52"
            ]
        ]
    },
    {
        "id": "a1155c0f447b5739",
        "type": "ui_group",
        "name": "LED Control 8-bit",
        "tab": "9dae409018d8907b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "36f133f197891493",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7ff75b70f72fceeb",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9dae409018d8907b",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
