NodeRED_Dropdown.json
[
    {
        "id": "4e3d1b6f6afd87a1",
        "type": "tab",
        "label": "LED Control 8-bit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f2f6bee855cba22",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 1",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led1_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led1_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "aff04777c6cf4968",
        "type": "mqtt out",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "topic": "/LedControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "acd8922375aaedc6",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "7b6dae1ce4526007",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 2",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led2_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led2_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 440,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "01573bce5c1f8927",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 3",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led3_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led3_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "11e8814b5736c623",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 4",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led4_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led4_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "774f232566bdf8eb",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 5",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led5_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led5_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "f20333d8cec62528",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 6",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led6_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led6_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 680,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "4efee83e3e6b62d8",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 7",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led7_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led7_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 740,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "3dac7b231ed0ab9e",
        "type": "ui_switch",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED 8",
        "tooltip": "",
        "group": "7a8ea489af191eb8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led8_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led8_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 800,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "b1ead007714a8076",
        "type": "ui_button",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "group": "7a8ea489af191eb8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "all_off",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 720,
        "y": 320,
        "wires": [
            [
                "e8c6238dc13309c3",
                "66290c2e41e5c81b"
            ]
        ]
    },
    {
        "id": "e8c6238dc13309c3",
        "type": "function",
        "z": "4e3d1b6f6afd87a1",
        "name": "All OFF",
        "func": "let messages = [];\n\nfor (let i = 1; i <= 8; i++) {\n    messages.push({ topic: \"/LedControl\", payload: \"led\" + i + \"_0\" });\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 320,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "86700fd05f344882",
        "type": "mqtt in",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "topic": "/LedControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "acd8922375aaedc6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 480,
        "wires": [
            [
                "7f2f6bee855cba22",
                "7b6dae1ce4526007",
                "01573bce5c1f8927",
                "11e8814b5736c623",
                "774f232566bdf8eb",
                "f20333d8cec62528",
                "4efee83e3e6b62d8",
                "3dac7b231ed0ab9e",
                "0b7d90e433a10f24"
            ]
        ]
    },
    {
        "id": "fa3a83d56c6a2304",
        "type": "mqtt in",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "topic": "/Button1Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "acd8922375aaedc6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 920,
        "wires": [
            [
                "5041f12193b94911"
            ]
        ]
    },
    {
        "id": "5041f12193b94911",
        "type": "ui_text",
        "z": "4e3d1b6f6afd87a1",
        "group": "13f09cef26df5309",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PB1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 920,
        "wires": []
    },
    {
        "id": "55f64369066362f5",
        "type": "mqtt in",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "topic": "/Button2Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "acd8922375aaedc6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 980,
        "wires": [
            [
                "a732354622426829"
            ]
        ]
    },
    {
        "id": "a732354622426829",
        "type": "ui_text",
        "z": "4e3d1b6f6afd87a1",
        "group": "13f09cef26df5309",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PB2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 980,
        "wires": []
    },
    {
        "id": "d19a1ff6b371dd4f",
        "type": "ui_button",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "group": "7a8ea489af191eb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "all_on",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 710,
        "y": 240,
        "wires": [
            [
                "6585ec2a25ed2aef",
                "f4c96a2cc37aacd7"
            ]
        ]
    },
    {
        "id": "6585ec2a25ed2aef",
        "type": "function",
        "z": "4e3d1b6f6afd87a1",
        "name": "All ON",
        "func": "let messages = [];\n\nfor (let i = 1; i <= 8; i++) {\n    messages.push({ topic: \"/LedControl\", payload: \"led\" + i + \"_1\" });\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 240,
        "wires": [
            [
                "aff04777c6cf4968"
            ]
        ]
    },
    {
        "id": "0b7d90e433a10f24",
        "type": "ui_slider",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED Slider",
        "tooltip": "",
        "group": "2c7361bb3cce86c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "/SliderControl",
        "topicType": "msg",
        "min": 0,
        "max": "8",
        "step": 1,
        "className": "",
        "x": 470,
        "y": 1060,
        "wires": [
            [
                "b29e97f97f7ac859",
                "fdc2d542f9288f4a"
            ]
        ]
    },
    {
        "id": "b29e97f97f7ac859",
        "type": "mqtt out",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "topic": "/SliderControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "acd8922375aaedc6",
        "x": 740,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ae7ed675c712cbba",
        "type": "ui_text",
        "z": "4e3d1b6f6afd87a1",
        "group": "2c7361bb3cce86c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Slider status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d56009cf30692941",
        "type": "ui_dropdown",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "label": "LED Selection",
        "tooltip": "Choose which LED to turn ON for 2 seconds",
        "place": "Select option",
        "group": "2c7361bb3cce86c5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ALL OFF",
                "value": "LED0",
                "type": "str"
            },
            {
                "label": "LED1",
                "value": "LED1",
                "type": "str"
            },
            {
                "label": "LED2",
                "value": "LED2",
                "type": "str"
            },
            {
                "label": "LED3",
                "value": "LED3",
                "type": "str"
            },
            {
                "label": "LED4",
                "value": "LED4",
                "type": "str"
            },
            {
                "label": "LED5",
                "value": "LED5",
                "type": "str"
            },
            {
                "label": "LED6",
                "value": "LED6",
                "type": "str"
            },
            {
                "label": "LED7",
                "value": "LED7",
                "type": "str"
            },
            {
                "label": "LED8",
                "value": "LED8",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "/MenuControl",
        "topicType": "msg",
        "className": "",
        "x": 480,
        "y": 1200,
        "wires": [
            [
                "ebad8eaa8330ab9f",
                "f37a8cb9e9af292a"
            ]
        ]
    },
    {
        "id": "ebad8eaa8330ab9f",
        "type": "mqtt out",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "topic": "/MenuControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "acd8922375aaedc6",
        "x": 800,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f37a8cb9e9af292a",
        "type": "delay",
        "z": "4e3d1b6f6afd87a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 1300,
        "wires": [
            [
                "0aa59d4bccf99751"
            ]
        ]
    },
    {
        "id": "0aa59d4bccf99751",
        "type": "function",
        "z": "4e3d1b6f6afd87a1",
        "name": "function 1",
        "func": "return {\n    payload: \n    {   value: 0 \n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1300,
        "wires": [
            [
                "d56009cf30692941"
            ]
        ]
    },
    {
        "id": "66290c2e41e5c81b",
        "type": "function",
        "z": "4e3d1b6f6afd87a1",
        "name": "Reset Slider",
        "func": "let messages = [];\nmessages.push({ topic: \"/SliderControl\", payload: \"0\" });\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 360,
        "wires": [
            [
                "aff04777c6cf4968",
                "ae7ed675c712cbba"
            ]
        ]
    },
    {
        "id": "f4c96a2cc37aacd7",
        "type": "function",
        "z": "4e3d1b6f6afd87a1",
        "name": "Set Slider",
        "func": "let messages = [];\nmessages.push({ topic: \"/SliderControl\", payload: \"8\" });\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "aff04777c6cf4968",
                "ae7ed675c712cbba"
            ]
        ]
    },
    {
        "id": "fdc2d542f9288f4a",
        "type": "function",
        "z": "4e3d1b6f6afd87a1",
        "name": "Reset slider if PB ALL OFF",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1120,
        "wires": [
            [
                "ae7ed675c712cbba"
            ]
        ]
    },
    {
        "id": "f36441f8d81d0b34",
        "type": "ui_spacer",
        "z": "4e3d1b6f6afd87a1",
        "name": "spacer",
        "group": "2c7361bb3cce86c5",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7a8ea489af191eb8",
        "type": "ui_group",
        "name": "LED Control 8-bit",
        "tab": "851f28bf5102a4c1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "acd8922375aaedc6",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "13f09cef26df5309",
        "type": "ui_group",
        "name": "Push Button Status",
        "tab": "851f28bf5102a4c1",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c7361bb3cce86c5",
        "type": "ui_group",
        "name": "LED Control Option",
        "tab": "851f28bf5102a4c1",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "851f28bf5102a4c1",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
